[2017-03-04 11:59] lucagrulla opened #1 "-- following from time to time repeats content"
the --following feature randomly repeats logs.

[2017-03-05 15:07] lucagrulla opened #2 "fix help text for starttime and endtime"
The help text for the 2 tail params is misleading in the identification of which parts or optional

[2017-03-08 08:05] #2 closed

[2017-03-28 09:12] lucagrulla opened #5 "Fix timezone issue"
The app doesn't support Daylight saving properly

[2017-04-08 13:22] #5 closed

[2017-08-03 08:54] aterreno opened #6 "brew caveats wrong message"
Once installed it tells you to add to source this file
` /usr/local/share/zsh/site-functions/_cw`

instead of

` /usr/local/share/zsh/site-functions/cw`

[code]

[2017-08-03 08:55] aterreno opened #7 "feature request: colorise message output"
Other utilities like https://github.com/jorgebastida/awslogs colorise the output, it would be nice to have the same feature here

[2017-08-03 09:01] lucagrulla commented on #7
The feature is there. Different details can be included in the output using tail flag, and the different bits are all coloured.
The tail flags that produce extra details are:
* timestamp (-t)
* stream name (-s)
* event Id (-i)

[2017-08-03 09:01] #7 closed

[2017-08-03 09:01] lucagrulla commented on #6
A PR for improving the doc for ZSH user is greatly welcome.

[2017-08-04 19:52] lucagrulla commented on #6
fixed:
https://github.com/lucagrulla/homebrew-cw/commit/b18024a1988a6ed71530ffc15c8e62e4330b8908

[2017-08-04 19:52] #6 closed

[2017-11-01 07:21] lucagrulla opened #8 "too many streams error"
CW doesn't cap the number of tailed streams and hit the API limits of 50.

[2017-11-03 07:35] lucagrulla commented on #8
Fixed .Will be released in 1.3.1

[2017-11-16 16:57] #1 closed

[2017-11-16 16:57] #8 closed

[2017-11-16 16:58] lucagrulla opened #9 "Hit AWS rate limit"
From time to time we hit AWS req limit.

[2018-02-25 20:03] nzoschke opened #10 "Tail multiple log groups"
A feature request for this tool is the ability to tail multiple groups.

This would be extremely useful for Lambda, where an "app" is composed of many Lambda functions, and each function has its own log groups.

I'd like to be able to `cw tail /aws/lambda/*`:

<img width="439" alt="36343700-5318e1e6-13c4-11e8-936c-465e02cac760" src="https://user-images.githubusercontent.com/147410/36645859-cd44c16

[2018-02-26 21:52] lucagrulla commented on #10
Thanks for the offer

How would you guarantee that your logs are  interleaved?

The risk is that the log would keep jumping forward and backward in time based on which log group is pushing to stdout.

[2018-02-27 18:21] nzoschke commented on #10
I see this feature as a convenience during development and debugging, and am ok with trading off ordering across log groups for this usage.

So I was considering starting with a simple implementation that starts a `Tail` for every log group in a goroutine, and yes timestamps would not be strictly increasing in this case.

I can imagine a more coordinated approach too, but I'm not sure the complexi

[2018-02-28 14:41] lucagrulla commented on #10
I like the idea to track also lambdas logs; I want also to respect as much as I can the natural contract of tail where there's an implicit concept of time.

I'd like to suggest two extra elements to your PR:
- an additional flag to print the log group(--group, -r)
- an additional flag to colour consistently logs from the same log group(--colour, -c)

These could help people in identifying which gr

[2018-04-17 19:59] lucagrulla commented on #10
Hey @nzoschke I assume you're not interested in sending the PR anymore?

[2018-04-22 17:04] nzoschke commented on #10
@lucagrulla, I have not found any time to work on this, and don't see doing so anytime soon. Sorry!

[2018-04-22 21:06] lucagrulla commented on #10
No worries @nzoschke.
Thanks for the idea anyway!

[2018-04-22 21:06] #10 closed

[2018-05-24 04:25] stephencheng opened #11 "panic because close of closed chanel"
Hit the panic scenario which Tail method was called multiple times, or you have a little more time delay so that the Ticker fired more signal to trigger the page handler, which then try to close the closed chanel.

Using the Ticker is a little problematic here as it has no exit but rely on the chanel being closed and also does not allow caller to reconsume the Tail method.

I have used a fix of us

[2018-06-07 21:57] lucagrulla commented on #11
I can see the scenario you are referring to.
How did you hit this bug? I have never had the problem...

[2018-06-09 20:23] #11 closed, assigned to nobody

[2018-08-02 09:14] lucagrulla opened #14 "bash autocompletion is not working"
Actually it's not even installed properly

[2018-08-06 18:43] lucagrulla commented on #14
fixed

[2018-08-06 18:43] #14 closed

[2018-08-06 18:43] lucagrulla opened #15 "zsh completion not working"

[2018-08-21 09:44] lucagrulla opened #16 "Allow parallel tail of multiple log groups"

[2018-09-26 09:24] jnst opened #17 "--profile flag"
Thanks for nice tool 😃
I want to use the `--profile` flag like below to specify other aws credential profile.

[code]

[code]

[2018-09-26 10:13] lucagrulla commented on #17
It sounds neat.

A PR with this feature would be welcomed :-)

[2018-09-30 18:29] lucagrulla commented on #17
Added with release 1.7.0.

[2018-09-30 18:29] #17 closed

[2018-10-01 06:54] jnst commented on #17
Thanks for update! <3

But It doesn't works.
Even if I specified a `--profile` like below, the default profile was used.

[code]

I tried both install `go get` and `brew`.

[2018-10-01 06:55] jnst commented on #17
@lucagrulla
Thanks for update! <3

But It doesn't works.
Even if I specified a `--profile` like below, the default profile was used.

[code]

I tried both install `go get` and `brew`.

[2018-10-01 07:07] lucagrulla opened #19 "New version message is presented even if no new version available"

[2018-10-01 07:15] lucagrulla commented on #17
Apologies,
that was an error in the code.

Please install V1.7.1 (just released).

[2018-10-01 09:44] jnst commented on #17
It works! Thank you!

[2018-10-01 10:15] #19 closed

[2018-10-01 10:27] jnst opened #20 "Time options"
I am satisfied with the features of `cw` already, but if you want to more better to improve, I propose the `Time options` feature implementation.

I used [awslogs](https://github.com/jorgebastida/awslogs) until recently, but the problem with this tool is that it depends on python 2.x version. (In that respect, `cw` implemented with `golang` is very smart!)

`awslogs` has a feature called `Time opt

[2018-10-01 10:32] lucagrulla commented on #20
Thanks.

In my opinion UTC is the only real sane way to work on logs and not get confused (although I appreciate it's challenging when there's a gap between UTC and local time).

If you want to send a PR i'll consider it, but I'm not planning to do this any time soon.

[2018-10-01 10:33] jnst commented on #20
OK, I got it 👍

[2018-10-12 14:57] lucagrulla opened #21 "Add flag for disable coloured output"

[2018-10-13 07:04] lucagrulla commented on #21
Will be out with next release (> v1.7.2)

[2018-10-13 07:04] #21 closed

[2018-10-13 07:06] lucagrulla commented on #20
ok I started working on the option to pass delta of time ("2h30m") as start and end time.
It will be done.

Absolute dates and time will remain UTC.

[2018-10-16 20:47] lucagrulla commented on #20
Available from v2.0.0.

[2018-10-16 20:47] #20 closed

[2018-10-17 03:42] jnst opened #24 "Human-friendly format not works"
Thanks for 2.0.0 release 🎉

## Log not found

[code]
It was correctly outputted by the way used until. (FYI: I am in the time zone of JST so some logs below are displayed at +0900)

[code]

But it is not output as a new way.

[code]

It was not found even if full log stream name was specified.

[code]

## panic: send on closed channel

About the case where wrong args is specified, I sometimes enco

[2018-10-17 05:06] jnst commented on #24
Other case.

[code]

[2018-10-17 06:42] lucagrulla commented on #24
few things:
- sometimes in your exmaples you forget to pass the stream name. That is causing you troubles
- sometimes in your examples you use the wrong syntax: it's 2h30m without column, 2h:30minutes is not accepted

I'm also confused about the pamis msg you see...there should not be any more explicit panic calls in the call. Silly question but: are you sure your update worked well?

cw --version

[2018-10-17 08:29] jnst commented on #24
## Version

I already updated to latest.

[code]

Btw, I haven't installed it via `go get`.

[code]

And I tried re-install.

[code]

But the result is the same and a panic error occurs.

## About pass the stream name

In my understanding the following format is correct but it does not work well.

[code]

## 2h:30m syntax

Ah OK, this case is document issue.  Please fix `README.md`.

[code]

In my

[2018-10-17 08:43] lucagrulla commented on #24
This cannot work:
[code]
because you are not passing either the stream name or \*.
ecs/dev-my-server ecs/my-server/bcc9fc24-7184-4064-aad7-921dd0bf32fc is the stream group.

[2018-10-17 09:28] jnst commented on #24
### Step1

`/ecs/dev-my-server` is log group name.

[code]

### Step2

`ecs/my-server/bcc9fc24-7184-4064-aad7-921dd0bf32fc` is log stream name.

[code]

### Step3

I specified `log group name` and `log stream name`.
It works.

[code]

### Step4

But `5m` not works.

[code]

### Step5

also `*` not works.

[code]

[2018-10-17 11:57] lucagrulla commented on #24
I found the bug. It's not related to human friendy, it's related to specific timestamp.

I'll fix it as soon as I have some time.

[2018-10-17 21:04] lucagrulla commented on #24
I think the specific bug has been fixed in 2.0.1
It's a bit complicated because it's all about Local and it's confusing tot test.

A potential extra feature is to allow to define Local as a valid location instead of UTC...but more work is needed to allow this.

 I'm going to wait for feedback before marked as close :-)

[2018-10-18 03:33] jnst commented on #24
All the problems that I had confirmed were resolved 👍

[2018-10-18 04:32] #24 closed

[2018-10-20 12:32] lucagrulla opened #26 "Make installation Windows friendly"
Configure goreleaser for scoop.sh based installation

[2018-10-20 12:33] lucagrulla opened #27 "Make installation Linux friendly"
Which package manager to target?
Look into snapcraft

[2018-10-27 17:46] lucagrulla commented on #26
Scoop.sh packaging avaialable since V2.1.1

[2018-10-27 17:46] #26 closed

[2018-10-29 11:26] jnst opened #28 "Package full name on Homebrew"
I don't know if this is a mistake or not... I report you just in case.

`lucagrulla/cw/cw` -> `lucagrulla/cw` ?

[code]

[code]

[2018-11-02 19:34] lucagrulla opened #29 "Improve log caching purge strategy"
Current purge strategy for log id cache is naive.

[2018-11-12 12:06] raymondbutcher opened #30 "Panic when tailing old stream"
Hi. Nice project, but I've hit a bug.

These streams exist:

[code]

But I can't tail some of them:

[code]

Unless I specify the date.

[code]

This stream hasn't had any activity for a few days, and that's the only difference I can think of between the broken streams and the working ones.

I'm using the latest release.
[code]

[2018-11-13 09:16] lucagrulla commented on #30
Hi,

Thanks for filing this.
I can see how it happens. I'm not sure about the fix though, I do need to check streams against timestamp for a limitation of the AWS API. I'll have a look.

[2018-11-21 12:47] raymondbutcher commented on #30
Thanks!

[2018-12-05 15:20] autopulated opened #32 "Error in fetchLatestVersion"
[code]

This might be because the network request to check for a new version is failing?

[2018-12-05 20:23] lucagrulla commented on #32
Yes you're probably right.

Sorry about that.
I'll do a quick patch over the next couple of days.

[2018-12-12 17:40] lucagrulla commented on #32
Fixed in v2.1.3.

[2018-12-12 17:40] #32 closed

[2018-12-13 14:13] okelet opened #33 "Allow parameter for errors "Rate exceeded""
Sometimes, when the application is running multiple times, the error "Rate exceeded" is thrown and the application exits. It would be a good idea to have a parameter to continue, or add a delay, when that error happens.

[2018-12-13 14:15] okelet commented on #16
Or multiple streams in the same group... For example:

[code]

[2018-12-13 17:51] lucagrulla commented on #33
Hi,

Thanks for filing this issue.

Can you clarify what do you mean when you say " when the application is running multiple times"?

[2018-12-14 08:14] okelet commented on #33
Hi! If I want to tail multiple log groups or multiple specific streams, I need to run `cw` in multiple terminal tabs/windows. It seems that AWS has some of limit request/throttling, that causes that error and the program exits. It is a temporary failure, because if I re-run the process that received the error, it continues tailing fine.

[2018-12-14 09:55] lucagrulla commented on #33
Thanks for the clarification.
That's correct, AWS  limits on the number of API calls at account level (as your account).

This is not a bug of the tool itself (the req rate is tailored to respect the throttling), it's a consequence of running the multiple instances.

Giving control of the req/rate won't be hard but it will end up in a less than ideal user experience, as no one will really know wha

[2018-12-14 09:56] lucagrulla commented on #33
Best thing to do here is to handle te rate exceeded scenario better, by probably stop polling and restarting.

I'll look into that.

[2018-12-29 18:45] lucagrulla commented on #33
V3.0.0 is solving this by allowing tailing of multiple groups from a single cw command. In this way there's full control on the request rate, avoiding to hit the per account/region AWS throttling.

[2018-12-29 18:45] #33 closed

[2018-12-29 18:47] lucagrulla commented on #28
Improved by changing the naming strategy of the tap (homebrew-tap/cw instead of homebrew-cw/cw)

It will affect only for people using the new tap.
The old tap will keep working as it is (so no forced migration to new tap).

[2018-12-29 18:47] #28 closed

[2018-12-29 18:48] lucagrulla commented on #16
V3.0.0 allows parallel tailing of multiple groups/streams.

[2018-12-29 18:48] #16 closed

[2019-01-08 19:04] franciscocpg commented on #27
How about using https://github.com/goreleaser/godownloader?

[2019-01-08 20:12] lucagrulla commented on #27
Thanks,I'll look into it.

I still think that an established package manager will help.
My favourite solution at this stage is probably to make the brew recipe Linuxbrew friendly.

https://github.com/goreleaser/goreleaser/issues/428

I might look to send a PR on that to goreleaser.

[2019-01-09 17:00] lucagrulla opened #35 "Improve scheduler management"
**Describe the bug**
when a Tail is completed the trigger channel should be removed from the round robin scheduler

[2019-01-13 17:31] lucagrulla commented on #35
Fixed in 3.0.1

[2019-01-13 17:31] #35 closed

[2019-01-13 17:33] lucagrulla commented on #27
I  added snapcraft.io packaging and distributon
I'll add also godownloader, but I'll manage it in a seperate issue ticket.

[2019-01-13 17:33] #27 closed

[2019-01-13 17:34] lucagrulla opened #37 "Add godownloader distribution"
https://github.com/goreleaser/godownloader

[2019-01-13 17:37] lucagrulla opened #38 "Add LinuxBrew distribution"
Brew recipe works only for Mac.

Currently depending on:
https://github.com/goreleaser/goreleaser/issues/428

[2019-01-14 22:06] lucagrulla opened #39 "Make cw stdin and pipe friendly"
**Describe the bug**
stdin pipe in currently won't work

**To Reproduce**
echo "mygroup:*" | cw tail

**Expected behavior**
shoul tail "mygroup".

[2019-02-03 12:18] lucagrulla commented on #39
v3.1.0 fully supports pipe operator.

[2019-02-03 12:18] #39 closed

[2019-02-13 20:45] lucagrulla commented on #29
from v3.1.1 the cache works on a TTL basis.

[2019-02-13 20:45] #29 closed

[2019-02-14 08:02] lucagrulla opened #41 "Add --limit flag as per aws logs"
**Describe the solution you'd like**
In aws logs CLI get-log-events has a --limit flag to define how many logs you want to receive.

[2019-02-22 09:35] lucagrulla opened #42 "inconsistency bewtween long and short format for tail --start flag"
**Describe the bug**
the long format of the --start flag should be begin rather than start for consistency

[2019-04-19 20:35] mbeckner opened #44 "SIGSEGV on APIgateway log group ls"
Marks-MacBook-Pro[13:32:55] cw --profile=zjdevacct --region=us-east-2 ls streams "API-Gateway-Execution-Logs_72oi6rv36b/Alpha"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x13d6c8b]

goroutine 8 [running]:
github.com/lucagrulla/cw/cloudwatch.(*CW).LsStreams.func1.1(0x1, 0x0, 0xc0000c3db8)
	/Users/lucagrulla/Pr

[2019-04-21 17:50] lucagrulla commented on #44
Thanks for rasing this bug.

I assume `ls streams` worka with other groups names? Or does it fail regardless the group for you?
Is by chance that group empty (as no log streams yet)?

[2019-04-22 02:30] mbeckner commented on #44
I did not try with another log group. The group I accessed had several non-empty streams.

[2019-04-22 08:18] lucagrulla commented on #44
Can you try with another log group?

I can't see any problem in your command, and I'm struggling to replicate it with my log groups.

[2019-04-22 19:34] mbeckner commented on #44
Only the API-Gateway log group is throwing the panic.

Marks-MacBook-Pro[12:25:05] awsdev --query logGroups[*].logGroupName  logs describe-log-groups
[
    "/aws/lambda/shipper-sam-ShipperHandlerFunction-155P3N3JNQEE4",
    "/aws/rds/instance/zj-dev-postgres/postgresql",
    **"API-Gateway-Execution-Logs_joekpkdl9f/Alpha",**
    "RDSOSMetrics"
]

===== API-Gateway =====

Marks-MacBook-Pro[12:27:45

[2019-05-07 03:00] mtrupehu opened #45 "AssumeRoleTokenProviderNotSetError"
**Describe the bug**
My AWS profile has enabled MFA, When I ssue the following command, I get Authentication errors as below:

cw ls groups

panic: AssumeRoleTokenProviderNotSetError: assume role with MFA enabled, but AssumeRoleTokenProvider session option not set.
goroutine 1 [running]:
github.com/aws/aws-sdk-go/aws/session.Must(...)
	/Users/lucagrulla/go/pkg/mod/github.com/aws/aws-sdk-go@v1.14.1

[2019-05-12 09:39] lucagrulla commented on #45
Thanks for filing this is.

Which version of cw are you running? v3.2.0?

[2019-06-07 06:47] lucagrulla opened #47 "Support 2FA"
**Is your feature request related to a problem? Please describe.**
see #45

**Describe the solution you'd like**
Support authentication with 2FA.

**Additional context**
Accounts with 2FA enabled won't work.

[2019-06-10 06:56] edmundhighcock commented on #47
The python tool `aws-mfa` takes a profile called 'default-long-term' and then stores all necessary 2fa credentials in the 'default' profile in `~/.aws/credentials`. It would be great if this 2fa approach was compatible with `cw`!

[2019-07-19 16:42] SMamula opened #54 "CW region issue"
**Describe the bug**
 On ubuntu (18.04) server I have installed aws cli and it works without issue, but with cw I have region issue. When try to run cw ls groups getting this error: **could not find region configuration**. Also I tried run it like this cw ls groups --region="us-east-2", but in that case getting this error  **no valid providers in chain. Deprecated.**

**To Reproduce**
Steps to rep

[2019-07-19 17:11] lucagrulla commented on #54
Hi,
Thanks for submitting this issue.

Do you also keep credentials and config files on the server?
https://github.com/lucagrulla/cw#aws-credentials-and-configuration

[2019-07-19 17:38] SMamula commented on #54
Hi,

yes I have setup it on server as well and all aws cli commands works me fine.

Best regards

[2019-07-19 17:48] lucagrulla commented on #54
The first error (no region in the configuration" suggests me that the files are not found.
Can you try to be explicit from the command line not just about the region but also about the profile?

[2019-07-19 21:17] SMamula commented on #54
I tried run it with profile, exactly with this command **cw ls groups --profile staging**
and getting the same error as before.

[2019-07-20 09:53] okelet commented on #54
I have the same problem. I don't know much about snaps, but perhaps you need a "connection" to home, so aws library can read credentials:

[code]

[2019-07-20 22:13] lucagrulla commented on #54
ok. I do need to run some tests on Ubuntu before commenting more.

[2019-07-23 12:19] okelet commented on #54
This is strange, calling cw snap command from installation dir directly works fine, but through snap doesn't; perhaps this makes sense about snap connections:

[code]

[2019-07-24 20:58] lucagrulla commented on #54
I think I found the issue and it is indeed related to interfaces/connections/etc.
I'll fix it as soon as possible.

[2019-07-28 20:28] lucagrulla commented on #54
I fixed the problem but I have not released yet; I just want some more testing (just in case).

Expect v3.2.1 over the coming days.

[2019-07-29 08:40] lucagrulla opened #58 "Snap not able to read default AWS config/credentials files"
Snapcraft security sandbox blocks access to the config files.

[2019-07-29 08:41] lucagrulla commented on #54
I created #58 to better capture the problem.

[2019-07-29 08:43] lucagrulla commented on #58
- [ ] add Personal files interface to snap definition
- [ ] amend documentation for explicit add of personal-files interface in strict mode
-[ ] Workaround on the snap different $HOME

[2019-07-29 08:45] lucagrulla commented on #58
branch snapcraft-personal-files-access is the work in progress.

[2019-07-30 07:20] lucagrulla commented on #58
Need snapcraft store approval to have access to personal-files interface.
Request submitted, now waiting.

[2019-08-08 20:39] lucagrulla opened #61 "linuxbrew: support arm"
**Describe the bug**
Current linuxbrew manifest doesn't support ARM architecture.

[2019-08-08 20:40] lucagrulla commented on #38
I386 currently supported.
Lack of arm support captured in #61

[2019-08-08 20:40] #38 closed

[2019-08-12 06:54] lucagrulla commented on #61
Depending on:
https://github.com/goreleaser/goreleaser/issues/1052

[2019-08-29 19:45] lucagrulla commented on #58
Fixed with v3.2.1.

Required installation steps here:
https://github.com/lucagrulla/cw#using-snapcraftio

[2019-08-29 19:45] #58 closed

[2019-08-29 19:45] lucagrulla commented on #54
Fixed with v3.2.1.

[2019-08-29 19:45] #54 closed

[2019-09-07 06:00] dawidd6 commented on #61
It's already merged and released.

[2019-09-07 07:47] lucagrulla commented on #61
Oh you're right!
I'll update configuration and release over the weekend.
Thanks for the help.

[2019-09-08 18:18] lucagrulla commented on #61
ARM release available since v3.2.2.

[2019-09-08 18:37] dawidd6 commented on #61
Not really, look at the formula:

https://github.com/lucagrulla/homebrew-tap/blob/master/Formula/cw.rb

[2019-09-08 18:41] lucagrulla commented on #61
ouch!

Ok, at least now ARM artefacts are  available for download and manual install under the release.
I'll check what's happening with the formula.

[2019-09-08 19:14] dawidd6 commented on #61
I think it's an upstream bug, see my post here: https://github.com/goreleaser/goreleaser/pull/1113

[2019-09-08 22:51] dawidd6 commented on #61
Fix: https://github.com/goreleaser/goreleaser/pull/1140

[2019-09-14 20:34] dawidd6 commented on #61
@lucagrulla can you test latest release?

[2019-09-15 11:38] lucagrulla commented on #61
I see a new ARM conditional branch in the brew formula. It should be ok now.
@dawidd6 do you mind test it?

[2019-09-15 11:42] dawidd6 commented on #61
Seems to be alright now, just by looking at it. Can't test it rn tho, but it should work.

[2019-09-15 12:42] lucagrulla commented on #61
Great!
Thanks for the help.

[2019-09-15 12:42] #61 closed

[2019-09-19 11:47] keyneston opened #70 "Pretty Print JSON"
**Is your feature request related to a problem? Please describe.**

One of the amazing features of CloudWatch is the ability to log to JSON, and then build intelligant searches based upon the JSON output.

This means logs often endup as long single lines of JSON output:

[code]

To make this better cloud watch takes the JSON and pretty prints it. `cw` outputs it as the line was put into cloudwatch

[2019-09-28 16:05] KennethWKZ commented on #70
if can pretty print this kind of output is convenience

`2019-09-28T16:00:42.646Z        03e64967-2efb-4a90-8dda-17a65366d13b    INFO  {"_logLevel":"info","msg":"Response body"}`

[2019-09-29 10:08] lucagrulla commented on #70
Hi,
Thanks for this request.

I might try to add this feature at a certain point but it's not top of priorities for me right now.
A good PR would be very welcome.

[2019-10-13 22:25] ashrodan commented on #15
Seems to be working for me after adding the following to my ~./zsh_rc
`source /usr/local/share/zsh/site-functions/cw`

[2019-10-14 07:20] lucagrulla commented on #15
Thanks for sharing this!

I'll as well and eventualy close the issue.

[2019-10-17 20:01] lightbody commented on #70
+1 for this... not sure it even needs to be a core feature, but maybe just show in the docs how you can pipe it through to `jq` with a few examples? when I find the time to do this I'll post anything I get working here. Thanks for great utility, btw!

[2019-10-21 12:09] keyneston commented on #70
@lightbody Thanks, I was inspired to look more into `jq` to see if there was a way to do this that I wasn't familiar with. Turns out you can do `jq -R 'fromjson? | select(type == "object")'` and it works. Suboptimal to having it built in but more than does the job for now.

[2019-10-22 07:13] lucagrulla commented on #70
Thanks for doing some research @keyneston.

One of the great features of `cw` is that it follows Unix philosphy, so it does pipe in and out nicely.

I mark this as resolved for the time being; I'll eventually add some documentation on how use `cw` and `jq` together (as @lightbody suggested).

[2019-10-22 07:13] #70 closed

[2019-10-22 15:21] lightbody commented on #70
The thing I haven't yet figured out is how to convert nicely over to CSV the way I want. Because pretty-printing as JSON is one thing, but what I _really_ want is to actually convert it back out to a table format that looks nice in my scrolling console.

 It's mostly just an exercise in becoming a better `jq` user. See, `jq` has a `@csv` operator but I haven't figured out how to select out just th

[2019-10-22 15:38] lightbody commented on #70
Quick update: I just about how it figured out... just trying to grok how to get the CSV to pipe to `column` or `sed` something that can put some spacing into each of the columns.

`cw tail -f /ecs/my-service | jq -r '[.timestamp, .level, .logger, .mdc.user, .message] | @csv'`

[2019-11-02 06:08] kienpham2000 opened #77 "Hide fields such as timestamp, group-name, stream-name with --no- option"
[code]

[2019-11-06 19:05] lucagrulla commented on #77
Hi @kienpham2000 ,

Thank you for your submission.
Can you help me understand better what you mean?

The fields you highlighted are optional; if you don't want them printed just don't add the relevant flags to your command.

[2019-11-06 19:17] kienpham2000 commented on #77
@lucagrulla I'm looking something similar to this:
https://github.com/jorgebastida/awslogs#json-logs

I'm using this to tail a Lambda log:
`cw tail -f --start="2019-11-03T00:00:00" /aws/lambda/config-rule-approved-ami-only`

Here's the output, I don't want timestamp, event name to show up, I just care about the actual logging message:

[code]

[2019-11-15 15:08] alimoeeny opened #79 "`go get` installs version 1.7.2"
**Describe the bug**
if you install cs by `go get  github.com/lucagrulla/cw` or `go get -u github.com/lucagrulla/cw` you get version 1.7.2 and will be stuck at that version.

**To Reproduce**
just do `go get -u github.com/lucagrulla/cw`
I have "go version go1.13.4 darwin/amd64" installed , on a mac with latests macos, in zsh,

**Expected behavior**
able to get the latest version of cw which is 3.2

[2019-11-23 14:08] lucagrulla commented on #79
hi @alimoeeny,

Thanks for filing this bug.

I tried on bash (not zsh) and with an older version already on disk it failed (it didn't override the version).

Once I cleaned the src folder under the path I did not have any problem.
Do you mind checking if you have a previous version already in your path?

[2019-11-26 00:53] ivyas-torstar commented on #47
MFA is used in conjunction with Assume Role or Get STS Session Token, both of which can be implemented here.

I would like to build this feature, I'm learning Go and have been AWS user for quite a while now.

[2019-11-26 00:56] IndranilVyas commented on #47
MFA is used in conjunction with Assume Role or Get STS Session Token, both of which can be implemented here.

I would like to build this feature, I'm learning Go and have been AWS user for quite a while now.

[2019-11-26 14:02] alimoeeny commented on #79
hmm, thanks @lucagrulla
I tried bash,
removed my old cw,
made sure there are no other copies of cw or the repository anywhere on my file system,
removed go.mod and go.sum files from my home,
same results :|
maybe something is unusual about my setup,
But it looks like always it defaults to `github.com/lucagrulla/cw v1.7.2`
If you cannot reproduce it , please feel free to close this ticket,
I'll reo

[2019-11-29 00:34] IndranilVyas commented on #47
@lucagrulla I have added 2FA support, and tested it with role that has 2FA enabled. I can raise PR if you like.

[2019-11-29 08:03] lucagrulla commented on #47
yes please!
a PR and some wording about your approach to this would be great!

Thanks a lot for the help!

[2019-12-01 17:58] #79 closed

[2019-12-11 16:23] fleaz opened #86 "Double newline"
**Describe the bug**
I'm running the latest cw release (3.2.2) and there is an superfluous linebreak after every log line.

**To Reproduce**
Happens to me with all `tail` commands

**Expected behavior**
There shouldn't be an extra newline between each log line

**Screenshots**
<img width="116" alt="Screenshot 2019-12-11 at 17 13 55" src="https://user-images.githubusercontent.com/2489598/70638931-0

[2019-12-11 16:31] fleaz commented on #1
Hi,
I'm running 3.2.2 and I'm also hitting this bug. When there is new content flowing into the stream, everything is fine. But when the stream is idle, cw will repeat the last two lines of the stream about every 65 seconds.

[2019-12-11 22:31] lucagrulla commented on #1
Hi @fleaz, this might be related to #85 PR.
I'll have a look as soon as possobile to the PR and keep you posted.

[2019-12-11 22:34] lucagrulla commented on #86
Hi @fleaz,
I could not observe this behaviour in any log file I tailed.

Are you sure the (extra) newline is not introduced as part of writing the log?

[2019-12-12 13:46] fleaz commented on #86
I tested a few other streams and it seems like this bug is only happening for Lambda logs. Looking at loggroups from other sources, I  don't hit this bug.

I'm quite sure that there are no extra newlines in the log, because it looks fine when I check the AWS Console

[2019-12-14 15:38] lucagrulla opened #87 "Duplicate print of events for high volume logs"
When running in -f follow mode tail.go polls cloudwatch every ~205ms for logs and checks against a cache to ignore seen events. Most of the time the cache is hit and the event correctly ignored, but when the cache is emptied (every ~70 secs) we get a repeat of any events that occurred at the same time as the last event (for events with timestamp diff > 1ms this manifests as logging the last event

[2019-12-14 15:54] lucagrulla commented on #87
conversation for potential solution is at #85

[2019-12-17 21:16] isundaylee commented on #44
Another data point: I encountered the same crash on Linux (amd64, installed from release .deb, Debian 10) when doing `cw ls streams docker`. It works fine for other groups (e.g. `/var/log/syslog`). Backtrace:

[code]

[2019-12-17 21:31] isundaylee commented on #44
I looked into it a bit and it's due to `LastIngestionTime` being absent on line https://github.com/lucagrulla/cw/blob/4b481bf99df55e2df81b8e382282affff77f27b9/cloudwatch/lsstreams.go#L24

[2019-12-17 21:40] isundaylee commented on #44
I made a quick fix here (https://github.com/isundaylee/cw/commit/dc777ef6b5ae033e54e64a9fd5ce76e73397578d). Let me know if you want me to make a PR.

By the way, thanks for making this! It works great other than this small hiccup.

[2019-12-17 22:10] lucagrulla commented on #44
Thanks for digging this out and fixing it!
a PR is very welcome :-)

[2019-12-17 23:08] isundaylee commented on #44
PR opened in #89

Thank you! :)

[2019-12-19 15:08] #44 closed

[2019-12-23 14:53] lucagrulla commented on #77
hi @kienpham2000,

`cw` by default print only the `message` field of the cloudwatch log entry. The other fields need to be required explicitly with a flag (`--timestamp`,`--event-id`,`--stream-name`,` --group-name`).

Based on the command line command you shared:
`cw tail -f --start="2019-11-03T00:00:00" /aws/lambda/config-rule-approved-ami-only`

The feature is already into `cw`;  it looks like i

[2019-12-23 14:57] lucagrulla commented on #86
`cw` does add a single new line after each log event when it prints out  on the shell.
I will test  with lambdas, but even if it's proved it's just lambdas is more about how lambdas write new events to the log then how `cw` prints them out in the terminal.

[2019-12-30 15:27] lucagrulla commented on #87
Fixed with v3.2.4.

[2019-12-30 15:27] #87 closed

[2019-12-30 15:28] lucagrulla commented on #15
Fixed with v3.2.4

[2019-12-30 15:28] #15 closed

[2019-12-30 15:28] #77 closed

[2020-01-02 16:35] okelet commented on #47
Hi @lucagrulla !! I think this snippet can solve the issue: https://aws.amazon.com/es/blogs/developer/assume-aws-iam-roles-with-mfa-using-the-aws-sdk-for-go/; just adding this:

[code]

in the file https://github.com/lucagrulla/cw/blob/master/cloudwatch/client.go#L52.

I am having this issue, so I could test it as soon as you have a release. Thanks!

[2020-01-02 17:01] lucagrulla commented on #47
Hi @okelet
Thanks for your help.
 I looked at the same documentation you shared and unfortunatelty it's not enough. I also experience inconsistent behaviours when testing PR #82, hence why it's taking me so long time to fix this.

For the time being the best solution for you is to use a third party tool to get the MFA token, then use cw as usual.

[2020-01-02 18:25] IndranilVyas commented on #47
Hi @lucagrulla, anything I can do to help with testing or improving the PR.

[2020-01-02 20:42] okelet commented on #47
Hi @IndranilVyas and @lucagrulla, I have created the pull request #92 and tested locally without profiles, and with different profiles requiring MFA with AssumeRole and without MFA, all of them working perfectly. It is almost the same than @IndranilVyas did, but without the need of a mfa parameter in the command. Hope this PR can be integrated.

[2020-01-02 20:57] IndranilVyas commented on #47
To cache temporary credentials from the session, you need to save to ~/.aws/credentials file or as environment variables

[2020-01-02 21:08] okelet commented on #47
Yes, just wondering if the Go library has any type of builtin credential cache, like the Python library has, but I cant find any... It looks that the people from kubernetes-sigs/aws-iam-authenticator has done something similar (https://github.com/kubernetes-sigs/aws-iam-authenticator/pull/193), but there is no such option in the standard Go library...

[2020-01-03 06:56] lucagrulla commented on #47
I tried with my working configuration and also with a vanilla IAM and I don't have the expected behaviour (no MFA request on stdin).

@okelet do you mind walking me through your IAM configuration so I can validate that my AWS configuration is correct?

[2020-01-08 16:59] radix commented on #86
codebuild also seems to include newlines in their log entries.

[2020-01-24 21:13] anafaggiano opened #98 "List IAM permissions needed to use CW"
- After downloading cw, I was not able to execute any of the command listed in the documentation, including `cw ls groups`. I ultimately want to run `cw tail`.

- I'm getting a `The security token included in the request is invalid.` error.

- I was allowed full access to Cloudwatch logs, and my aws creds are correct since I was able to use aws cli.

We provide our IAM permissions based on needs,

[2020-01-31 13:15] ntkoopman commented on #47
You can use a [credential_process](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html). Advantage is that caching is up to the configured helper, so no need to do anything at the application level. I'm not sure if the Go implementation will fetch a new token after expiration if you tail for a very long period.

[2020-02-06 07:24] lucagrulla commented on #47
Hi @ntkoopman , thanks for the suggestion. I'll have a look!

[2020-02-27 11:47] santhosh-v opened #104 "Not able to connect may be because of proxy"
**Is your feature request related to a problem? Please describe.**
Not able to connect. Getting send request failed

**Describe the solution you'd like**
Add support for proxy

[2020-02-27 12:51] lucagrulla commented on #104
Hi @santhosh-v

Thanks for filing this issue.

I do need a little more details: what do you meamn with "not able to connect because of proxy"? Can you describe your network setup and how you envision the tool to work with a proxy?

[2020-03-12 08:44] fleaz commented on #1
Hey, just wanted to confirm that with 3.2.4 the problem is gone :)
Thank you!

[2020-04-17 02:55] djw4 commented on #104
I think what @santhosh-v  was referring to is that behind a proxy the application seems to fail unexpectedly, I having a similar issue behind an enterprise-wide Zscaler proxy:

[code]

My AWS credentials are all valid, no issues at all there. Does the app currently honour `$http_proxy` or `$https_proxy` values?

[2020-04-17 07:13] lucagrulla commented on #104
Hi @djw4

Thanks for the clarification.
cw does not explicitly manipulate any HTTP header for proxy support at this stage.

@djw4  Have you tried using the env variable as suggested for the AWS cli?
https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-proxy.html

[code]

Does it work with it?

[2020-05-27 11:05] brainstorm opened #119 "AWS SSO CLI v2 does not work"
**Describe the bug**

The new AWS CLI v2 provides Single Sign On:

https://aws.amazon.com/blogs/developer/aws-cli-v2-is-now-generally-available/

But doesn't seem to play well with `cw`:

[code]

**To Reproduce**
[code]

[2020-05-27 16:19] cbuschka opened #120 "Add flag to specify aws endpoint url"
**Is your feature request related to a problem? Please describe.**
We develop locally with localstack. I would like use the same tooling locally as on aws. I.e. I would like point cw to the url of my localstack and tail logs via cw as if it where the real aws.

I currently see no way how to point cw to localstack.

**Describe the solution you'd like**
Add a command line flag "--endpoint-url" analo

[2020-05-27 16:30] cbuschka commented on #120
Ok, I did a quick implementation. It works for me locally with localstack.

I would appreciate if the changes get merged. If it should be implemented in a different way or you see a better solution please elaborate on it.

[2020-05-30 14:58] lucagrulla commented on #120
hi @cbuschka
Thanks for the PR. It's now merged.
I'm having issues in the release process (snapcraft is failing).
As soon as I underastand why it rejects this release this will be released across all the plaftform.

[2020-05-30 17:47] lucagrulla commented on #119
Hi @brainstorm
It looks like a bug in the AWS go SDK.

This feels like the best workaround I've found until this is fixed:
https://github.com/benkehoe/aws-sso-credential-process

[2020-05-31 07:31] cbuschka commented on #120
No need to hurry. If I can support, drop me a note.

[2020-05-31 08:26] brainstorm commented on #119
Indeed, I'm using this one instead:

https://github.com/victorskl/yawsso

[2020-05-31 17:55] lucagrulla commented on #120
Fixed.
V3.3.0 is out.

[2020-05-31 17:55] #120 closed

[2020-05-31 19:20] cbuschka commented on #120
Awesome! Thank you for the quick release!

On Sun, May 31, 2020, 19:55 Luca Grulla <notifications@github.com> wrote:

[2020-07-22 02:17] gene1wood opened #134 "Package name conflict with Ubuntu package"
**Describe the bug**
The package name that you're using for the debian package, [`cw`](https://github.com/lucagrulla/cw/releases/tag/v3.3.0) conflicts with this package name in Ubuntu : https://launchpad.net/ubuntu/bionic/amd64/cw

As a result, if a user has both packages they replace each other depending on which one is installed last.

**To Reproduce**
Steps to reproduce the behavior:
1. On an U

[2020-08-13 16:51] kyprifog opened #138 "View Cloudwatch metrics"
Has anyone thought to use this tool to view cloudwatch metrics combing with something like gnuplot or https://github.com/holman/spark ?

[2020-08-13 17:41] kyprifog commented on #138
Nevermind I was able to achieve this just using jq spark and aws cli:

[code]

[2020-08-13 17:41] #138 closed

[2020-08-21 15:16] narsinallamilli opened #140 "scoop windows install in being block by antivirus"
PS C:\Users\Narsi Nallamilli> Get-Host | Select-Object Version
Version
-------
5.1.18362.752

PS C:\Users\Narsi Nallamilli> iwr -useb get.scoop.sh | iex
iex : At line:1 char:1
+ #Requires -Version 5
+ ~~~~~~~~~~~~~~~~~~~~
This script contains malicious content and has been blocked by your antivirus software.
At line:1 char:26
+ iwr -useb get.scoop.sh | iex
+                          ~~~
    + Cate

[2020-08-23 18:23] lucagrulla commented on #140
Hi,

This is a potential bug with Scoop, now with cw.
Please file it here: https://github.com/lukesampson/scoop/issues

[2020-08-23 18:23] #140 closed

[2020-08-24 03:08] narsinallamilli commented on #140
@lucagrulla  Is there any other way to install on Windows? Please help

[2020-08-24 18:26] JoshCooley opened #141 "Retry if log group does not exist (like tail -F/--retry)"
**Is your feature request related to a problem? Please describe.**
I'm working on a script that starts an ECS task and then tails the log from Cloudwatch. I wait until the task is actually in RUNNING state before kicking off cw, but there's still a few seconds between that state transition and the creation of the log group, so `cw`
errors out with "The specified log group does not exist."

**Descr

[2020-08-24 20:10] lucagrulla commented on #140
go to the release page:
https://github.com/lucagrulla/cw/releases

and from the latest release download the correct Windows archive.
Decompress the archive and install in the relevant folder.

[2020-08-24 20:16] lucagrulla commented on #141
hi @JoshCooley

I can see the value of this additional flag.
I'd welcome a good PR if that something you'd be up for.

[2020-09-10 01:51] moltar opened #146 "Works awesomely well with fzf"
First of all, thanks for the project! It works amazingly well.

Today I realized it can be integrated with [fzf](https://github.com/junegunn/fzf) quite easily too. Here is my little snippet that I am using:

[code]

Probably could be a useful doc addition. Or even a feature inside `cw` itself.

Cheers!

[2020-09-10 02:33] moltar commented on #146
Bonus: multi-select support:

[code]

Use tab to select multiple log groups.

[2020-09-13 18:43] lucagrulla commented on #134
Thanks for the PR.
I'll review and if all makes sense I'll merge.

[2020-10-02 00:27] deadlysyn commented on #47
It might be a workaround, but since I find it useful for juggling accounts anyway... I've found aws-vault works great with MFA + cw.

`aws-vault exec <profile> -- ./cw -r <region> tail ...`

https://github.com/99designs/aws-vault

hth

[2020-12-21 15:34] #146 closed

[2020-12-21 15:34] #104 closed

[2020-12-21 15:44] #134 closed

[2021-01-10 08:55] lucagrulla commented on #98
Great to hear you solved the problem.
I'll consider if better capturing IAM permissions in the doc is feasable. Thanks for the suggestion.

[2021-01-10 08:55] #98 closed

[2021-01-24 17:53] lucagrulla commented on #141
Avaialable from v4.0.0

[2021-01-24 17:53] #141 closed

[2021-01-24 18:42] lucagrulla opened #172 "V4.0.0 broke autocompletion"
**Describe the bug**
command autocompletion does not work since V4.0.0

[2021-01-27 19:10] dekimsey opened #173 "Tailing non-existent streams may `panic: send on closed stream`"
**Describe the bug**
Tailing can cause a panic on non-existent streams

**To Reproduce**
Steps to reproduce the behavior:
1. `cw tail -sf ams-es-high:warm/elasticsearch/elasticsearch.log/`

This log group doesn't yet have any streams matching this invocation. If I run again, it works fine, I'm guessing this is a race condition with the channel.

**Expected behavior**

Exits cleanly
[code]

**Scree

[2021-01-27 20:30] lucagrulla commented on #173
Hi @dekimsey,

I'm not sure I understood it properly.
Is this a scenario where the log group exists  _but_ it does not have any log streams yet?

[2021-01-27 20:32] dekimsey commented on #173
Yesish. The group exists, but the streams were not yet matching (the `warm/` prefix was just added).

So there were possible streams to tail, but none would have matched this filter when I ran it.

[2021-01-29 20:26] lucagrulla commented on #173
By looking at the code, there's no obvious explanation for this error. I'm wondering if the problem is actually in the AWS sdk.
I see you were using V3.3.0. Could you try with the latest release, v4.0.x?

[2021-01-30 13:48] lucagrulla opened #174 "cw might not monitor the correct streams when there are more than 100"
**Describe the bug**
When more than 100 streams are present in a group, cw would need to pick 100 max due to limitation in the AWS FilterLogEventPages SDK. Currently `cw` will pick the first 100 returned from AWS. Those streams might not be active.

[2021-02-14 17:25] lucagrulla opened #178 "migration to AWS SDK V2"

[2021-02-14 20:02] lucagrulla commented on #178
in progress:

https://github.com/lucagrulla/cw/tree/aws-sdk-v2

[2021-02-21 10:02] dili91 commented on #174
+1

[2021-02-22 04:11] jjun3188 opened #181 "Special characters not working with grep"
When I try grep with any special character,
eg. `cw tail -pprod /aws/lambda/INT_NET_PROD -b10m --grep email@someemail.com`

I get the error below:
Invalid filter pattern

It works fine if I remove special characters, but even `-g` and `--grep=""` did not work with special characters.

I also tried escaping special characters using `/`, `//`, `\` and `\\`, but no luck.

Is it something that I am do

[2021-02-22 08:11] lucagrulla commented on #181
Hi @jjun3188

This is the supported syntax:
https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html

Have you tried double quotes?
--grep="email@someemail.com"

[2021-02-23 03:35] jjun3188 commented on #181
I tried --grep="email@email.com" as well. some error :(

[2021-03-05 14:34] #174 closed

[2021-03-05 14:59] lucagrulla commented on #178
completed with V4.0.5

[2021-03-05 14:59] #178 closed

[2021-03-05 15:00] lucagrulla commented on #174
Fixed with V4.0.5

[2021-03-05 15:01] lucagrulla commented on #181
Hello @jjun3188

I just released a new version with an upgrade to the V2 of the AWS SDK.
Can you test again and see if the problem is solved?

[2021-03-05 15:02] #173 closed

[2021-03-05 15:04] dekimsey commented on #173
I'm sorry, I never replied. I haven't seen the issue again since updating. Thank you!

[2021-03-13 05:10] moltar opened #188 "Small typo"
In help:

[code]

Missing an "S" in "Show".

https://github.com/lucagrulla/cw/blob/46decae940aac3ce005fd424e606887f3cf5acf6/main.go#L222

[2021-03-13 16:30] lucagrulla commented on #86
It looks like this is based on how the upstream log is created, not a problem with the tool.
I am closing the issue.

[2021-03-13 16:30] #86 closed

[2021-03-13 16:50] lucagrulla commented on #188
Fixed with v4.0.6

[2021-03-13 16:50] #188 closed

[2021-03-23 19:52] savagekw opened #195 "wildcard support for logGroupName?"
Went' through all the issues and readme, didn't find a mention regarding the syntax of how to fetch multiple log groups by using some sort of wildcard.
For example, if there are groups named as a pattern like /aws/service/id-0000[0-9], is there a way to fetch the logs from multiple groups by using a wildcard like syntax?
Thanks.

[2021-03-23 20:32] lucagrulla commented on #195
Hi @savagekw
you can list multiple log groups, but you have to be explicit about naming.
eg:
[code]

The wildcard is a good idea. I might consider a PR on that.

[2021-04-22 20:39] tonycpsu opened #205 ""streams found" message repeated when using -f option and prefix"
**Describe the bug**

When running with the `-f` option and using a stream prefix, I see messages like `2021/04/22 16:36:42 streams found: 1` output every ~5 seconds.  These are noisy, and suggest activity on the stream I'm tailing when there is none.

**To Reproduce**

Run ` cw tail group:prefix  -f` and notice messages printed

**Expected behavior**

No such messages printed

**Desktop (please c

[2021-04-25 10:37] #205 closed

[2021-04-26 07:51] AntonUspehov commented on #172
[code]

[2021-05-06 14:22] vandr0iy commented on #79
I think I found the relevant issue with golang: https://github.com/golang/go/issues/35732
I solved it by invoking `go get -u github.com/lucagrulla/cw@master`

[2021-06-07 21:44] theo-bittencourt commented on #181
Same problem here.

Version: 4.1.0
SO: MacOS

In my case, I need to use `/` char.
Tried without escape and with escape (`\/`).
And tried with and without quotes and double-quotes.

The error message is the same for all attempts:

`operation error CloudWatch Logs: FilterLogEvents, https response error StatusCode: 400, RequestID: e55cdea4-8b02-45c8-b350-fc08c0e2e9ce, InvalidParameterException: Inval

[2021-06-07 22:04] theo-bittencourt commented on #181
I make it works by using the following pattern:

`--grep '"GET my/resource/foo"'`

o/

[2021-06-25 13:07] KaFski opened #212 "Context deadline exceeded error"
**Describe the bug**
I'm not able to list groups and streams or display logs.

**To Reproduce**
`$ cw ls groups`

`operation error CloudWatch Logs: DescribeLogGroups, failed to sign request: failed to retrieve credentials: no EC2 IMDS role found, operation error ec2imds: GetMetadata, request canceled, context deadline exceeded`

**Expected behavior**
I would expect `cw ls groups` command to return

[2021-07-01 07:10] lucagrulla commented on #212
Hi @KaFski

can you share your overall credentials and config files setup? (without sharing secrets/token/id of course). Do you have a default profile configured?

Also: are you behind a proxy?

[2021-07-23 03:46] Yuhta28 opened #214 "Sudden termination of the command execution."
**Describe the bug**
After `cw tail` command with option `--follow` executed, an error suddenly occurs and the program terminates.
An error occurs a few minutes after command execution.

**Error message**
[code]

**To Reproduce**
Steps to reproduce the behavior:
`cw tail <Log Group>:<Log Stream> --follow`

**Expected behavior**
I expected it to keep logging.

**Code Outputs**
[code]

**Desktop (pl

[2021-08-18 15:58] tonyc-blastpoint commented on #214
I'm getting this as well.

[2021-09-07 08:25] mkotsalainen opened #215 "Always fetch latest events in tail"
**Is your feature request related to a problem? Please describe.**

I would like to always get the latest events from a certain log stream - like AWS CloudWatch console does it. If nothing recent has been published to a certain log - I would still want the latest n items to show up.

**Describe the solution you'd like**

If I tail a log with cw and there hasn't been a lot of traffic in that stream

[2021-09-07 09:50] mattes3 opened #216 "Expand \n and \t please!"
**Is your feature request related to a problem? Please describe.**
I have difficulties to read my logs that are in JSON format. This is a sample log message, it is structured like this:

[code]

To read these messages, I do this:

[code]

This works fine.

Now the frustration comes when I read a log where the "message" field contains new-line `\n` and tab characters `\t`, typically exception stack

[2021-09-11 20:39] ronyeh-lb opened #217 "no output"
**Describe the bug**
no output, only error exit code

**To Reproduce**
Steps to reproduce the behavior:
~ ❯ cw ls groups --profile=lb-prod
~ ❯ echo $?
1
also with --region

**Desktop
 - OS: [e.g. MacOS 10.15.7]
 - zsh
- aws cli v2 with valid profile and cred
- cw 4.1.0

[2021-09-12 11:24] lucagrulla commented on #217
Is any other command (tail, ls streams) work?
I am wondering if the hyphen in the profile name confuses the AWS client. Can you try to set lb-prod as the default profile in the was credentials file and try again?

[2021-09-22 08:37] ronyeh-lb commented on #217
other command doesn't work as well.
only validation error outputs when i omit some required parameters.
default profile doesn't work.

is there any verbose debug mode?
is there any method to brew install previous versions?

[2021-09-23 08:28] lucagrulla commented on #217
Are you going through a proxy?

[2021-09-23 09:21] ronyeh-lb commented on #217
no

[2021-09-23 16:05] lucagrulla commented on #216
Hi, thank you for the feature request.
This is not a top priority right now, but I would happily review a good Pull Request for merging into main.

[2021-10-07 22:59] Kantis opened #219 "Convenience: Ability to fetch logs around a specified timestamp"
## Problem
It's frustrating to see surrounding events when you find something of interest in the log.

[code]

## Proposal
Provide an additional parameter `-l, --relative-to="<Full DATE/DATETIME>"` to the `cw tail` function, that can be used in conjunction to the relative parameters for `-b, -e`. Example:

[code]

Also it could be nice if -b and -e supported down to millisecond precision? Perhaps

[2021-10-27 09:22] vandr0iy opened #220 "Can't tail an existing log group"
**Describe the bug**
Can't tail an existing log group - which I used to be able to tail just about the day before with the same identical command/user (which is an administrator in its AWS account).

**To Reproduce**
[code]

**Expected behavior**
A huge wall of text containing my logs :)

**Desktop (please complete the following information):**
[code]
Tested on bash as well, with no luck

If it's

[2021-11-18 11:26] kerma commented on #79
Please reopen.

`go get` for installation will be deprecated soon: https://golang.org/doc/go-get-install-deprecation

`go install github.com/lucagrulla/cw@latest` will currently install 1.7.2.

Trying to force some recent release will result in:

[code]

[2021-11-30 15:46] Pitasi commented on #79
@kerma I understand it's ideal, but it the meantime you can use `go install github.com/lucagrulla/cw@master`

@lucagrulla

[2021-12-15 13:01] ronyeh-lb commented on #217
how can i install previous version ?

[2021-12-28 00:54] ronyeh-lb commented on #217
found the issue !- parsing issue of .config
`
[default]
region=us-east-2
cli_pager=

[profile linearb-prod]
region=us-east-2
cli_pager=
`
there was no new line at the end, i added (press enter) and thats it.

[2021-12-28 08:54] lucagrulla commented on #217
Great to hear!

[2021-12-28 08:54] #217 closed

[2021-12-31 16:42] lucagrulla commented on #219
Hi @Kantis
Thank you for your suggestion.
I can see what you want to achieve, and I believe you can achieve it with `grep` `A` and `B` options:
i.e. `cw tail my-log-group -b7d | grep ERROR -A 2 -B 2` will give you 2 lines before and after the grep hit.

[2022-01-03 17:26] lucagrulla commented on #214
I increased throttling on requests. It should help.

[2022-01-03 17:26] #214 closed

[2022-01-21 00:11] allcentury opened #226 "Pipes Not Working"
**Describe the bug**

Great project, thanks @lucagrulla.  I'm not able to get pipes to work and I'm unclear what I'm doing wrong.  Ideally, what I want to do is:

[code]

However, trying any trivial pipe commands from the readme results in:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Which command `echo 'some-group' | cw tail -f`.  I've also tried cat on a file where groups are r

[2022-01-21 18:27] allcentury commented on #226
Digging into this some more, I think this might be upstream in Kong because it fails before ever getting to [this line](https://github.com/lucagrulla/cw/blob/68d7282eaa70ce3f2f56b76278db1a663ebd7028/main.go#L193).  I can't seem to tell where that validation happens though (not a Kong or Go expert).

Interesting that cmd substitution works just fine:

[code]

[2022-02-26 13:17] adarnois opened #230 "The bottle: uneeded attribute is deprecated and must be removed from heracles.rb file in the lucagrulla/homebrew-tap repo"
** Description **
The bottle :uneeded attribue has to be removed from the heracles.rb file (line 9) of the https://github.com/lucagrulla/homebrew-tap project because it is a now a deprecated command and it prevents to install the lucagrulla/tap via the 'brew tap lucagrulla/tap' command on macOS.

In fact, it provokes an Invalid Syntax error on macOS with Homebrew (tested on macOS Big 11.6.4 with H

[2022-02-26 18:15] lucagrulla commented on #230
Thanks for raising this.
It should be fixed now. Give it another go and let me know if it works.

[2022-02-27 09:08] adarnois commented on #230
Hi,

Thank you for the fix, I confirm it is well working now:

 ~  brew tap lucagrulla/tap                                                                                                   ✔  10034  10:05:50
Running `brew update --preinstall`...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
==> Updated Formulae
Updated 28 formulae.

==> Tapping lucagrulla/tap
Cloning into '/usr/loc

[2022-02-27 09:16] adarnois commented on #230
This case is closed

[2022-03-04 17:24] #230 closed

[2022-03-09 16:06] masterchop opened #231 "How to use RegEx for streamPrefix?"
`cw tail ct-stg:ma/MAcc/[a-zA-Z0-9]/account -s --profile stg`
`cw tail ct-stg:ma/MAcc/[.*]/account -s --profile stg`
`cw tail ct-stg:ma/MAcc/[?]/account -s --profile stg`
`cw tail ct-stg:ma/MAcc/[\S\s]/account -s --profile stg`

I am not sure what i am missing, please help.

[2022-03-09 18:27] masterchop commented on #231
that is a handy solution, thank you. i would be great to support something like.
Thank you for the fast response.

[2022-03-20 17:44] #231 closed

[2022-04-09 03:19] vsimon opened #235 "Able to have an exact match on the log group prefix?"
**Is your feature request related to a problem? Please describe.**

With a log group "foo" containing multiple log streams like:

[code]

When intending to tail just the "service" logs, this command returns both the logs from "service" and "service-test" because argument only lets you specify prefixes `<groupName[:logStreamPrefix]>`

[code]

Maybe there's a way to do this that I'm missing to find?

[2022-04-09 07:48] lucagrulla commented on #235
Hi @vsimon

Thanks for raising this issue.

While we work on a fix, you can still use `cw` to achieve your goals:

* print the stream name with `-s` flag
* pipe the output to `grep`

`cw tail -f "foo:service\$" -b5m -s | grep <your RegEx>`

[2022-08-15 02:28] calvinhobbes23 commented on #220
I run into the exact same problem with cw 4.1.1

[2022-09-23 19:10] kmcquade commented on #119
Hi @lucagrulla, it looks like the AWS Go SDK now supports AWS SSO: https://aws.amazon.com/blogs/developer/aws-sso-support-in-the-aws-sdk-for-go/

I'm a **huge** fan of `cw`. It would be awesome to have SSO Support for `cw`. I use it every day.

I am used to the workaround mentioned above with [aws-sso-util](https://github.com/benkehoe/aws-sso-util) -> [yawsso](https://github.com/victorskl/yawsso),

[2022-09-24 13:49] lucagrulla commented on #119
Thanks @kmcquade.

Issue is nor re-open.